@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#__next {
  @apply min-h-svh m-0 p-0;
}

#__next {
  @apply flex;
}

* {
  @apply box-border;
}

.base-layout {
  @apply min-h-svh w-full flex justify-end;
}

.base-layout__aside {
  @apply fixed top-0 bottom-0 left-0 w-80 lg:w-1/4 bg-slate-600;
}

.base-layout__main {
  @apply w-full lg:w-3/4 px-5;
}

.inventory-button-grid {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

table {
  @apply w-full text-left border border-separate rounded border-slate-200;
}

tr {
  @apply transition-colors duration-300 hover:bg-slate-50;
}

th {
  @apply h-12 px-6 text-sm font-medium border-l first:border-l-0 stroke-slate-700 text-slate-700 bg-slate-100 font-bold;
}

td {
  @apply h-12 px-6 text-sm transition duration-300 border-t border-l first:border-l-0 border-slate-200 stroke-slate-500 text-slate-500;
}

.decoration-inherit {
  text-decoration: inherit;
}
